/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 5, 2018, 4:57:25 PM
    Author     : hsuhong1210
*/

/* Top Navigation Bar Style*/
.NavigationBar{
    font-size: 14pt;
    font-family: Georgia;
    text-align: left;
    /*display: inline-block;*/
    font-weight: bold;
}

/* Normal Style*/
.radiobuttonStyle { 
    font-size: 18pt;
    font-family: Georgia;
}

.buttonStyle{
    font-size: 18pt;
    column-width: 10px;
    width: 150px;
    height: 40px;
    font-family: Georgia;
}

.buttonShowStyle{
    font-size: 18pt;
    column-width: 10px;
    width: 80px;
    height: 40px;
    font-family: Georgia;
}

.buttonSpecialStyle{
    font-size: 18pt;
    column-width: 10px;
    width: 220px;
    height: 40px;
    font-family: Georgia;
}

.txtboxStyle {
    font-size: 18pt;
    height: 35px;
    width : 250px;
    font-family: Georgia;
}

.txtboxSmallStyle {
    font-size: 18pt;
    height: 35px;
    width : 180px;
    font-family: Georgia;
}

.txtboxSmallestStyle {
    font-size: 18pt;
    height: 35px;
    width : 60px;
    text-align: center;
    font-family: Georgia;
}

.textAreaStyle{
    font-size: 18pt;
    text-align: center;
    font-family: Georgia;
}

.lblStyle{
    font-size: 18pt;
    font-family: Georgia;
}

.ddlStyle{
    font-size: 18pt;
    column-width: 10px;
    width: 200px;
    height: 40px;
    font-family: Georgia;
}

.ddlSmallSpecialStyle{
    font-size: 18pt;
    column-width: 10px;
    width: 150px;
    height: 40px;
    font-family: Georgia;
}

.checkboxStyle{
    font-size: 18pt;
    font-family: Georgia;
}

/*Login*/
.buttonLoginStyle{
    font-size: 18pt;
    column-width: 10px;
    width: 150px;
    height: 50px;
    font-family: Georgia;
}

/*EvaluatorPersonalDetails*/
.ddlSpecialStyle{
    font-size: 18pt;
    column-width: 10px;
    width: 340px;
    height: 40px;
    font-family: Georgia;
}

/*MaintainTeacher*/
.ddlSmallerSpecialStyle{
    font-size: 18pt;
    column-width: 10px;
    width: 100px;
    height: 40px;
    font-family: Georgia;
}

/*MaintainTeacher*/
.ddlSpecialOneStyle{
    font-size: 18pt;
    column-width: 10px;
    width: 300px;
    height: 40px;
    font-family: Georgia;
}


/*MaintainSchoolDetails*/
.textAreaSpecialStyle{
    font-size: 18pt;
    text-align: left;
    font-family: Georgia;
}

/*WorkloadClaimApplication*/
.txtboxSpecialStyle {
    font-size: 18pt;
    height: 35px;
    width : 340px;
    font-family: Georgia;
}

.txtboxSmallSpecialStyle {
    font-size: 18pt;
    height: 35px;
    width : 100px;
    font-family: Georgia;
}

/*RateSetting*/
.txtboxSmallestSpecialStyle {
    font-size: 18pt;
    height: 35px;
    width : 70px;
    text-align: center;
    font-family: Georgia;
}

/*WorkloadAllocation*/
.lblSpecialStyle{
    font-size: 16pt;
    font-family: Georgia;
}

/*WorkloadAllocation*/
.ddlSpecialTwoStyle{
    font-size: 18pt;
    column-width: 10px;
    width: 230px;
    height: 40px;
    font-family: Georgia;
}